:host {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 234, 239);
  box-sizing: border-box;
}

.cdk-drag-preview {
  padding: 0 15px;
  position: relative;
}

.cdk-drag-preview::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 5px;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  color: transparent;
  position: relative;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 5px;
  border-radius: 4px;
  background: rgba(0,0,0,0.1);
  border: dashed 1px rgba(0,0,0,0.4);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-header-cell {
  cursor: move;
  border: dotted 3px transparent;
  background-color: rgb(1,152,122);
}

.mat-mdc-header-cell {
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  background-color: rgb(5, 128, 103);
}

.mdc-data-table__table {
  min-width: 70%;
  border-bottom: 3px solid rgb(1,152,122);
}

.mat-mdc-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(69, 69, 69);
}

.mat-mdc-table .mat-mdc-header-cell {
  color: aliceblue;
  background-color: rgb(1,152,122);
  border: 1px solid rgba(170, 170, 170, 0.478);
}

.mat-mdc-table {
  //width: 100%;
  &.resizing {
    user-select: none;
    cursor: col-resize;
  }
  .mat-mdc-cell {
    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .mat-mdc-header-cell {
    position: relative;
    &:not(:last-child) {
      .resize-holder {
        cursor: col-resize;
        width: 10px;
        height: 100%;
        position: absolute;
        right: -5px;
        top: 0;
        z-index: 2;
        background-color: red;
      }
    }
  }
  .mat-mdc-cell,
  .mat-mdc-header-cell {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    &:not(:nth-child(1)) {
      padding: 0 10px;
    }
  }
}

.resizing {
  user-select: none;
  cursor: col-resize;
}
